<<<<<<< HEAD
@charset "UTF-8";
.mainBody {
	background-color: rgba(229, 238, 238, 0.418);
	padding-top: 50px;
	padding-bottom: 50px;
}

#passwordModifyMain {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 500px;
	margin: 0 auto;
	/* border: 1px solid black; */
}

#passwordModfiyTile {
	text-align: center;
	border-bottom: 4px solid black;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-color: white;
}

.passwordInputBox {
	display: flex;
	align-items: center;
	/* border: 1px solid black; */
}

.passwordModifyInput {
	width: 300px;
	height: 50px;
	outline: none;
	border-radius: 15px;
	margin: 15px 0;
	border: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-shadow: 0.5px 0.5px 0.5px grey;
	font-size: 12px;
}

.passwordInputEx {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid black; */
	width: 200px;
	height: 50px;
	margin-right: 20px;
	color: rgb(198, 204, 204);
}

#passwordModifyBtnBox {
	text-align: center;
}

#passwordModifyBtn {
	width: 500px;
	height: 50px;
	border-radius: 15px;
	outline: none;
	border: 1px solid rgb(214, 211, 211);
	background-color: rgb(224, 220, 220);
	color: black;
	cursor: pointer;
}

.newPwMsg {
	margin-left: 150px;
	font-size: 6px;
}

#passwordModifyMsg {
	margin-top: 10px;
	text-align: center;
	color: red;
}
