@charset "UTF-8";
/* header css*/
/* 각 태그들의 크기를 직접 보시려면 border 주석을 제거하면 됩니다. */
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@font-face {
	font-family: 'gmarket';
	src: url('font/GmarketSansTTFMedium.ttf') format('truetype');
}

/* 각 태그들의 크기를 직접 보시려면 border 주석을 제거하면 됩니다. */
body {
	font-family: 'gmarket';
	font-size: 10pt;
}

header {
	/* border: 1px solid black; */
	margin-top: 80px;
	margin-bottom: 100px;
}

#loginStatusBox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
	/* border: 1px solid black; */
}

#userProfileImg {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 7px;
	/* border: 1px solid black; */
}

h1 {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	/* border: 1px solid black; */
}

#headerListBox {
	margin-top: 50px;
	/* border: 1px solid black; */
}

#headerList {
	display: flex;
	justify-content: center;
	list-style: none;
	/* border: 1px solid blue; */
}

#headerList li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 35px;
	/* border: 1px solid red; */
}

#headerList li:not (:last-child ) {
	border-right: 1px solid black;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

/* passwordModify css*/
.mainBody {
	background-color: rgba(229, 238, 238, 0.418);
	padding-top: 50px;
	padding-bottom: 50px;
}

#passwordModifyMain {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 500px;
	margin: 0 auto;
	/* border: 1px solid black; */
}

#passwordModfiyTile {
	text-align: center;
	border-bottom: 4px solid black;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-color: white;
}

.passwordInputBox {
	display: flex;
	align-items: center;
	/* border: 1px solid black; */
}

.passwordModifyInput {
	width: 300px;
	height: 50px;
	outline: none;
	border-radius: 15px;
	margin: 15px 0;
	border: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-shadow: 0.5px 0.5px 0.5px grey;
	font-size: 12px;
}

.passwordInputEx {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid black; */
	width: 200px;
	height: 50px;
	margin-right: 20px;
	color: rgb(198, 204, 204);
}

#passwordModifyBtnBox {
	text-align: center;
}

#passwordModifyBtn {
	width: 500px;
	height: 50px;
	border-radius: 15px;
	outline: none;
	border: 1px solid rgb(214, 211, 211);
	background-color: rgb(224, 220, 220);
	color: black;
	cursor: pointer;
}

.newPwMsg {
	margin-left: 150px;
	font-size: 6px;
}

#passwordModifyMsg {
	margin-top: 10px;
	text-align: center;
	color: red;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

/* footer css*/
footer {
	margin-top: 100px;
}

#footerAdBanner {
	border: 1px solid black;
	height: 100px;
	margin-bottom: 40px;
	background-color: yellow;
}

#moreInfo {
	display: flex;
	list-style: none;
	margin-bottom: 40px;
}

#moreInfo>li {
	padding: 0 10px;
	border-right: 1px solid black;
}

#moreInfo>li:first-child {
	border-left: 1px solid black;
}