@charset "UTF-8";

#historyLogoBox {
	display: flex;
}

#historyLogo {
	width: 150px;
	height: 70px;
	margin: 0 auto;
	margin-bottom: 50px;
}

#historyList {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.history {
	display: flex;
	align-items: center;
	padding: 0 30px;
	background-color: rgb(238,238,238);
	box-shadow: 2px 2px 1px lightgray;
	margin-bottom: 15px;
}

.historyMovieNm {
	font-size: 15pt;
	font-weight: bold;
	padding-right: 80px;
}

.historyMore {
	display: flex;
	align-items:center;
	width: 300px;
}

.historyDate {
	padding: 10px;
}

.historyTime {
	padding-right: 10px;
}

.historyCostBox {
	display: flex;
	padding-right: 20px;
}

.historyCost {
	padding-left: 10px;
}

.cancleBtn {
	border: none;
	background-color:gray;
	color: white;
	padding: 5px 3px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px black;
	cursor: pointer;
}