@charset "UTF-8";

#boardContainer {
	width: 100%;
	height: 690px;
	/*  border: 1px solid black;   */
	text-align: center;
	margin-top: 100px;
}

#boardMenu {
	width: 300px;
	height: 30px;
	border-bottom: 1px solid gray;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.writeTitle>input {
	margin: 0 auto;
	width: 803px;
	height: 30px;
	border: 1px solid rgb(197, 197, 197);
	border-radius: 5px;
	outline: none;
	padding-left: 17px;
}
.writeTitle {
	padding-top: 60px;
	padding-bottom: 20px;
}

textarea {
	width: 785px;
	height: 400px;
	resize: none;
	outline: none;
	border: 1px solid rgb(197, 197, 197);
	border-radius: 5px;
	padding:20px;
}

.writeButton {
	width: 300px;
	height: 30px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: black;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}