footer {
	font-family: 'gmarketLight';
	font-size: 10pt;
	margin-top: 50px;
	color: gray;
}

#footerAdBanner {
	/* border: 1px solid black; */
	height: 100px;
	margin-bottom: 170px;
	/* background-color: yellow; */
}

#footerAdBanner img {
	max-width: 100%;
}

#moreInfo {
	display: flex;
	list-style: none;
	margin-bottom: 40px;
	padding-left: 0;
	/* border: 1px solid black; */
}

#moreInfo>li {
	padding: 0 10px;
	border-right: 1px solid gray;
	/* border: 1px solid black; */
}

#moreInfo>li:first-child {
	border-left: 1px solid gray;
}