/* logo font */
@import
	url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap')
	;

@font-face {
	font-family: 'gmarket';
	src: url('font/GmarketSansTTFMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'gmarketLight';
	src: url('font/GmarketSansTTFLight.ttf') format('truetype');
}

/* 각 태그들의 크기를 직접 보시려면 border 주석을 제거하면 됩니다. */
body {
	font-family: 'gmarket';
	font-size: 10pt;
}

a {
	text-decoration: none;
	color: inherit;
}

#headerBanner {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	background-color: black;
}

#bannerCloseBtn {
	color: white;
	position: absolute;
	right: 25px;
	font-size: 15pt;
	cursor: pointer;
}

header {
	margin-bottom: 50px;
	background-color: white;
}

#loginStatusBox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
	/* border: 1px solid black; */
}

#loginStatus {
	list-style: none;
	display: flex;
	/* border: 1px solid black  ; */
}

#loginStatus li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 15px;
	font-size: 9pt;
	height: 17px;
	/* border: 1px solid black; */
}

#loginStatus li:not (:last-child ) {
	border-right: 1px solid white;
}

#loginStatus li:hover {
	text-decoration: underline;
}

#logo {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	font-family: 'Zen Tokyo Zoo', cursive;
	font-size: 40pt;
	user-select: none;
	cursor: pointer;
	/* border: 1px solid black; */
}

#headerListBox {
	position: relative;
	margin-top: 50px;
	/* border: 1px solid red; */
}

#headerList {
	display: flex;
	justify-content: center;
	list-style: none;
	/* border: 1px solid blue; */
	margin-bottom: 0px;
}

#headerList li {
	position: relative;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	width: 150px;
	height: 25px;
	/* border: 1px solid red; */
}

.menuText {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;
	margin: 0 auto;
	/* border: 1px solid black; */
}

.menuText p {
	position: absolute;
}

#headerList li:not (:last-child ) {
	border-right: 1px solid white;
}
/* 드롭 다운 메뉴 css */
.dropDownMenu {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	color: black;
	/* border: 1px solid black; */
}

#serviceCenterDropDown {
	width: 270px;
}

.serviceCenterDropDownElement {
	padding: 0 10px;
}

.hidden {
	display: none;
}

#posterSection {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin: 60px 0;
}

.movePoster {
	margin: 0 50px;
	color: white;
}

.mainPoster {
	width: 20%;
	margin: 0 10px;
}